Extracting all three datasets from github, to place them in a dictionary, making it easier to manipulate them, so we end up having a dictionary with 3 dataframes. In this case we're always going to work with updated data.

In [56]:
import pandas as pd
import numpy as np

confirmed=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
confirmed.head()

  Province/State Country/Region       Lat  ...  8/11/20  8/12/20  8/13/20
0            NaN    Afghanistan  33.93911  ...    37269    37345    37424
1            NaN        Albania  41.15330  ...     6676     6817     6971
2            NaN        Algeria  28.03390  ...    36204    36699    37187
3            NaN        Andorra  42.50630  ...      963      977      981
4            NaN         Angola -11.20270  ...     1735     1762     1815

[5 rows x 209 columns]

In [57]:
recovered=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
recovered.head()

  Province/State Country/Region       Lat  ...  8/11/20  8/12/20  8/13/20
0            NaN    Afghanistan  33.93911  ...    26415    26694    26714
1            NaN        Albania  41.15330  ...     3480     3552     3616
2            NaN        Algeria  28.03390  ...    25263    25627    26004
3            NaN        Andorra  42.50630  ...      839      855      858
4            NaN         Angola -11.20270  ...      575      577      577

[5 rows x 209 columns]

In [58]:
death=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
death.head()

  Province/State Country/Region       Lat  ...  8/11/20  8/12/20  8/13/20
0            NaN    Afghanistan  33.93911  ...     1344     1354     1363
1            NaN        Albania  41.15330  ...      205      208      213
2            NaN        Algeria  28.03390  ...     1322     1333     1341
3            NaN        Andorra  42.50630  ...       52       53       53
4            NaN         Angola -11.20270  ...       80       80       80

[5 rows x 209 columns]

Building a dictionary with 3 datasets.

In [65]:
data={'confirmed':confirmed,"deaths":death,"recovered":recovered}
data['confirmed'].head()

  Country/Region       Lat       Long  ...  8/11/20  8/12/20  8/13/20
0    Afghanistan  33.93911  67.709953  ...    37269    37345    37424
1        Albania  41.15330  20.168300  ...     6676     6817     6971
2        Algeria  28.03390   1.659600  ...    36204    36699    37187
3        Andorra  42.50630   1.521800  ...      963      977      981
4         Angola -11.20270  17.873900  ...     1735     1762     1815

[5 rows x 208 columns]

In [64]:
data['deaths'].head()

  Country/Region       Lat       Long  ...  8/11/20  8/12/20  8/13/20
0    Afghanistan  33.93911  67.709953  ...     1344     1354     1363
1        Albania  41.15330  20.168300  ...      205      208      213
2        Algeria  28.03390   1.659600  ...     1322     1333     1341
3        Andorra  42.50630   1.521800  ...       52       53       53
4         Angola -11.20270  17.873900  ...       80       80       80

[5 rows x 208 columns]

In [63]:
data["recovered"].head()

  Country/Region       Lat       Long  ...  8/11/20  8/12/20  8/13/20
0    Afghanistan  33.93911  67.709953  ...    26415    26694    26714
1        Albania  41.15330  20.168300  ...     3480     3552     3616
2        Algeria  28.03390   1.659600  ...    25263    25627    26004
3        Andorra  42.50630   1.521800  ...      839      855      858
4         Angola -11.20270  17.873900  ...      575      577      577

[5 rows x 208 columns]

The goal now is to remove all useless information, such as state names for instance.

In [62]:
for situation, dataset in data.items():
  del data[situation]['Province/State']

saving each dataframe in the dictionary of dataframes to a .csv file.

In [93]:
import csv

def saver(dictex):
    for key, val in dictex.items():
        val.to_csv("data_{}.csv".format(str(key)))

    with open("keys.txt", "w") as f: #saving keys to file
        f.write(str(list(dictex.keys())))

saver(data)